.login-container {
  padding: 0px 0px 0px 165px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.login-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 705px;
  height: 1024px;
  background: #ffffff;
}

.logo-img-container {
  width: 705px;
  height: 1024px;
  background: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #fefeff;
  padding: 50px;
}

.input-field-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-button {
  width: 328px;
  height: 24px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
label {
  margin-bottom: 5px;
  width: 66px;
  height: 16px;

  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #475569;
}
input {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 360px;

  height: 40px;
  border-radius: 8px;
  background: #e2e8f0;
}

.login-heading {
  margin-bottom: 20px;
  font-size: 26px;
  color: #000000;
}

.frame-img {
  width: 53px;
  height: 43px;

  padding: 2px 0px 0px 0px;
}
.login-heading {
  width: 172px;
  height: 32px;

  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: #f7931e;
}
.login-button-container {
  width: 380px;
  height: 40px;
  border-radius: 8px;
  background: #f7931e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
